<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck List</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/utilities.css}">
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
    <h2>Rediger deck</h2>
<form th:action="@{/decks/{id}/edit}" method="post">
    <input type="hidden" name="playerId" th:value="${session.player.id}">
    <div>
        <label for="name">Navn</label>
        <input type="text" id="name" name="name" placeholder="Skriv ny deck navn..." required>
    </div>

    <div>
        <label for="format">Format</label>
        <select id="format" name="format" required>
            <option value="" disabled selected>Vælg format</option>
            <option value="COMMANDER">Commander</option>
            <option value="STANDARD">Standard</option>
            <option value="DRAFT">Draft</option>
            <option value="CASUAL">Casual</option>
        </select>
    </div>

    <div>
        <label for="visibility">Synlighed</label>
        <select id="visibility" name="visibility" required>
            <option value="" disabled selected>Vælg synlighed</option>
            <option value="PUBLIC">Public</option>
            <option value="PRIVATE">Private</option>
        </select>
    </div>

    <button type="submit">Opdatere deck</button>
</form>
</body>
</html>