<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deckforge - Bytning</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/utilities.css}">
</head>
<body>
<header th:replace="~{fragments :: header}"></header>
<main>
    <h2>Bytning</h2>
    <a th:href="@{/trades/history}"><button>Se byttehistorik</button></a>
    <a th:href="@{/trades/incoming}"><button>Se kommende bytte</button></a>
    <a th:href="@{/trades/incoming}"><button>Se foreslået bytte</button></a>
</main>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>